* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    height: 170px;
    background-color: rgb(59, 151, 250);
    background-image: url('../img/pattern.png');
}

header img {
    margin-top: 50px;
    height: 100px;
    margin-left: 10px;
}

/*
Sezione titolo
*/

.title {
    margin-top: 30px;
    margin-left: 10px;
}

h1 {
    font-size: 80px;
}

.title span {
    color: rgb(0, 154, 219);
}

.title p {
    color: gray;
    font-size: 35px;
}

#subtitle {
    font-size: 20px;
}

/*
Sezione immagini
*/

.images {
    margin-top: 40px;
    margin-left: 10px;
}

.images img {
    width: 900px;
    height: 700px;
    object-fit: cover;
}

.images p {
    font-size: 20px;
}